.window-input {
  width: 84%;
}

.window {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 80vh;
  overflow-y: scroll;
}

.client {
  display: flex;
  max-width: 45%;
  align-items: center;
  gap: 16px;
  align-self: flex-start;
  margin-top: 18px;
}

.client img {
  width: 9%;
  border-radius: 100px;
}

.client p {
  background-color: rgb(204, 241, 255);
  font-size: 14px;
  color: rgb(99, 99, 99);
  padding: 8px;
  margin: 0;
  word-wrap: break-word;
  max-width: 100%;
}

.admin {
  max-width: 45%;
  align-self: flex-end;
  background-color: rgb(204, 241, 255);
  padding: 8px;
  margin-top: 18px;
}

.admin p {
  font-size: 14px;
  color: rgb(99, 99, 99);
  text-align: end;
  margin: 0;
  word-wrap: break-word;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-top: 1px solid rgb(219, 219, 219);
}

.chat-input input {
  border: none;
  padding: 8px;
  width: 90%;
}

.chat-input input:focus {
  outline: none;
}

.chat-input button {
  background-color: rgb(76, 180, 255);
  border: none;
  padding: 12px;
  border-radius: 100px;
}

.chat-input button:hover {
  cursor: pointer;
}

.icon {
  color: white;
  font-size: 18px;
}
